$bg-color: #FDFDFB;
$white-color: #FDFDFB;
$main-color: #444240;
$text-color: #1B1A17;
$dark-color: #1B1A17D1;
$grey-color: #C4C0B6;
$line-color: #8B8371;
$secondary-color: #D4B098;
$brown-color: #444240;
$brown-light: #E6C8B4;